.Лого {

position: absolute;
width: 102px;
height: 30px;
left: 229px;
top: 56.52px;

}

.Меню { 
    
position: absolute;
width: 75px;
height: 20px;
left: 375px;
top: 62px;

font-family: 'Montserrat', sans-serif;
font-style: normal;
font-weight: 800;
font-size: 19px;
line-height: 23px;

color: #686868;

}

.Купоны {

position: absolute;
width: 97px;
height: 20px;
left: 490px;
top: 62px;

font-family: 'Montserrat', sans-serif;
font-style: normal;
font-weight: 800;
font-size: 19px;
line-height: 23px;

color: #686868;

}

.Акции {

position: absolute;
width: 83px;
height: 20px;
left: 623px;
top: 62px;

font-family: 'Montserrat', sans-serif;
font-style: normal;
font-weight: 800;
font-size: 19px;
line-height: 23px;

color: #686868;

}

.Рестораны {

position: absolute;
width: 137px;
height: 20px;
left: 742px;
top: 62px;

font-family: 'Montserrat', sans-serif;
font-style: normal;
font-weight: 800;
font-size: 19px;
line-height: 23px;

color: #686868;

}

.Работа_у_нас {

position: absolute;
width: 157px;
height: 20px;
left: 916px;
top: 62px;

font-family: 'Montserrat', sans-serif;
font-style: normal;
font-weight: 800;
font-size: 19px;
line-height: 23px;

color: #686868;

}

.Купон {

position: absolute;
width: 1461px;
height: 704px;
left: 229px;
top: 181px;

}

.Прямоугольник {

position: absolute;
width: 334px;
height: 55.42px;
left: 1212px;
top: 44px;

background: #A12330;
border-radius: 30px;

}

.Получение {

position: absolute;
width: 296px;
height: 20.56px;
left: 1231px;
top: 61.88px;

font-family: 'Montserrat', sans-serif;
font-style: normal;
font-weight: 900;
font-size: 19px;
line-height: 23px;

color: #FFFFFF;

}

.Войти_фото {

position: absolute;
width: 34px;
height: 30.39px;
left: 1587px;
top: 56.52px;

transform: matrix(-1, 0, 0, 1, 0, 0);

}

.Войти {

position: absolute;
width: 66px;
height: 20.56px;
left: 1624px;
top: 61.88px;
    
font-family: 'Montserrat', sans-serif;
font-style: normal;
font-weight: 900;
font-size: 19px;
line-height: 23px;
    
color: #000000;

}
